<% layout("layout/boilerplate") %>
<div class="row mt-4">
  <div class="col-xl-4 col-md-6 col-sm-8 offset-xl-4 offset-md-3 offset-sm-2">
    <div class="p-4 border border-1 rounded-4 shadow-sm bg-white">
      <h2 class="fw-bold mb-4">Sign Up</h2>
      <form action="/signup" method="POST" class="needs-validation row g-3" novalidate>
        <div class="col-12">
          <label class="form-label fw-medium">Username</label>
          <input type="text" name="username" placeholder="Choose a username" required class="form-control">
          <div class="invalid-feedback">Please choose a valid username.</div>
        </div>
        <div class="col-12">
          <label class="form-label fw-medium">Email Address</label>
          <input type="email" name="email" placeholder="name@example.com" required class="form-control">
          <div class="invalid-feedback">Please enter a valid email address.</div>
        </div>
        <div class="col-12">
          <label class="form-label fw-medium">Password</label>
          <input type="password" name="password" placeholder="Create a password" required class="form-control">
          <div class="invalid-feedback">Please enter a valid security password.</div>
        </div>
        <div class="col-12 mt-4">
          <button class="btn btn-brand w-100 py-2">Create Account</button>
        </div>
      </form>
    </div>
  </div>
</div>